---
layout: layouts/main.njk
pagination:
  data: collections.postsByAlbum
  size: 1
  alias: album
eleventyComputed:
  title: "Publicaciones del álbum {{ album[0] }} – El Archivo de dSong"
permalink: "/archive/albums/{{ album[0] | slugify }}.html"
pageClass: archive
---

{% set posts = album[1] %}
{% set heading = "Publicaciones del álbum " + album[1][0].metadata.album + ", de " + album[1][0].metadata.artist %}
{% include "partials/archive-table.njk" %}
