---
layout: layouts/main.njk
pagination:
  data: collections.postsByArtist
  size: 1
  alias: artist
eleventyComputed:
  title: "El Archivo de dSong » Publicaciones del artista {{ artist[0] }}"
permalink: "/archive/artists/{{ artist[0] | slugify }}.html"
---

<table class="archive-table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Publicación</th>
      <th>Canción</th>
      <th>Artista</th>
      <th>Álbum</th>
      <th>Año</th>
      <th>Categoría</th>
      <th>Autor</th>
    </tr>
  </thead>
  <tbody>
    <h2>Publicaciones del artista {{ artist[0] }}</h2>

    {%- for post in artist[1] -%}
    <tr>
      <td>{{ post.published_at | formatDate("dd/MM/yyyy") }}</td>
      <td><a href="/archive/{{ post.id }}.html">{{ post.title }}</a></td>
      <td>{{ post.metadata.song }}</td>
      <td><a href="/archive/artists/{{ post.metadata.artist | slugify }}">{{ post.metadata.artist }}</a></td>
      <td><a href="/archive/albums/{{ post.metadata.artist | slugify }}-{{ post.metadata.album | slugify }}">{{ post.metadata.album }}</a></td>
      <td>{{ post.metadata.year }}</td>
      <td>{{ post.metadata.category }}</td>
      <td><a href="/archive/authors/{{ post.author.name | slugify }}">{{ post.author.name }}</a></td>
    </tr>
    {%- endfor -%}
  </tbody>
</table>
