---
title: Posts by {{ author[0] }}
layout: layouts/main.njk
pagination:
  data: collections.postsByAuthor
  size: 1
  alias: author
permalink: "/archive/authors/{{ author[0] | slugify }}.html"
---

<table class="archive-table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Publicación</th>
      <th>Canción</th>
      <th>Artista</th>
      <th>Álbum</th>
      <th>Año</th>
      <th>Categoría</th>
    </tr>
  </thead>
  <tbody>
    <h2>Posts de {{ author[0] }}</h2>

    {%- for post in author[1] -%}
    <tr>
      <td>{{ post.published_at | formatDate("dd/MM/yyyy") }}</td>
      <td><a href="/archive/{{ post.id }}.html">{{ post.title }}</a></td>
      <td>{{ post.metadata.song }}</td>
      <td>{{ post.metadata.artist }}</td>
      <td>{{ post.metadata.album }}</td>
      <td>{{ post.metadata.year }}</td>
      <td>{{ post.metadata.category }}</td>
    </tr>
    {%- endfor -%}
  </tbody>
</table>
